.footer-block {
    background: $black;
    margin: 0px 30px 10px;
    height: 40px;
    padding-top: 12px;
    color: $white;
    border-radius: 5px;
    text-align: center;
}
.footer {
    // .footer__text

    &__text {
    }
}
